*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
web-app/WEB-INF/uploads
*.war
.classpath
.DS_Store
.project
.settings
/*.launch
/*.tmproj
stacktrace.log
test/reports
modulerepository/ # old modrepo upload files
modulerepository/*
node_modules
modulus-config.groovy

# IntelliJ Project files
.idea
.idea/*
*.iml
*.iws
*.ipr
